.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 3s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img {
    transition: 0;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: sepia(2) blur(2px);
}

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: saturate(3) brightness(2);
    border-radius: 5%;
}

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: grayscale(1) contrast(2) ;
    border-radius: 5%;
    transform: scale(.8);
}

.ex-10-icon {
    animation: spin 60s linear infinite;
    /* si potrebbe creare un orologio usando le animation, che figata */
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: spin-incompleto 2s linear;
}

@keyframes spin-incompleto {
    0% { transform: rotate(0);}

    75% { transform: rotate(273.75deg);}

    100% { transform: rotate(0);}
}

.ex-12-button:hover .ex-12-top-white {
    animation: spostati-sopra 2s linear infinite;
}

@keyframes spostati-sopra {
    0% { left: 10%;}

    50% { left: calc(100% - 60px);}

    100% { left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: spostati-sotto 2s linear infinite;
}

@keyframes spostati-sotto {
    0% { right: 10%;}

    50% { right: calc(100% - 60px);}

    100% { right: 10%;}
}

.ex-13-button:hover .ex-13-top-white {
    animation: spostati-del-tutto-sopra 3s linear;
}

@keyframes spostati-del-tutto-sopra {
    0% {
        left: 10%;
        top: -10px;
     }

     25% {
         left: 100%;
         top: -10px;
     }

     50% {
         left: calc(100% - 10px);
         top: 100%;
     }

     75% {
         left: -10px;
         top: 100%;
     }

     90% {
         left: -5px;
         top: -20px;
     }

     100% {
         left: 10%;
         top: -10px;
     }

}

.ex-13-button:hover .ex-13-bottom-white {
    animation: spostati-del-tutto-sotto 3s linear;
}

@keyframes spostati-del-tutto-sotto {
    0% {
        right: 10%;
        bottom: -10px;
     }

     25% {
         right: 100%;
         bottom: -5px;
     }

     50% {
         right: calc(100% - 10px);
         bottom: 100%;
     }

     75% {
         right: -60px;
         bottom: 100%;
     }

     90% {
         right:  -60px;
         bottom: -5px;
     }

     100% {
         right: 10%;
         bottom: -10px;
     }

}
